{% if message.role == 'assistant' %}
    {{ _self.bot(message.content) }}
{% else %}
    {{ _self.user(message.content) }}
{% endif %}

{% macro bot(content, loading = false) %}
    <div class="d-flex align-items-baseline mb-4">
        <div class="bot avatar rounded-3 shadow-sm">
            {{ ux_icon('fluent:bot-24-filled', { height: '45px', width: '45px' }) }}
        </div>
        <div class="ps-2">
            {% if loading %}
                <div class="bot-message d-inline-block p-2 px-3 m-1 border border-light-subtle shadow-sm text-white-50">
                    <span class="spinner-border spinner-border-sm me-1"></span>
                    <i>{{ content }}</i>
                </div>
            {% else %}
                <div class="bot-message d-inline-block p-2 px-3 m-1 border border-light-subtle shadow-sm">{{ content|markdown_to_html }}</div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro user(content) %}
    <div class="d-flex align-items-baseline text-end justify-content-end mb-4">
        <div class="pe-2">
            <div class="user-message d-inline-block p-2 px-3 m-1 border border-light-subtle shadow-sm">{{ content|nl2br }}</div>
        </div>
        <div class="user avatar rounded-3 shadow-sm">
            {{ ux_icon('solar:user-bold', { width: '45px', height: '45px' }) }}
        </div>
    </div>
{% endmacro %}
