{% import "components/_message.html.twig" as message %}

<div class="card mx-auto shadow-lg" {{ attributes.defaults(stimulus_controller('youtube')) }}>
    <div class="card-header p-2">
            {{ ux_icon('bi:youtube', { height: '32px', width: '32px' }) }}
            <strong class="ms-1 pt-1 d-inline-block">Chat about a YouTube Video</strong>
        <button id="chat-reset" class="btn btn-sm btn-outline-secondary float-end">{{ ux_icon('material-symbols:cancel') }} Reset Chat</button>
    </div>
    <div id="chat-body" class="card-body p-4 overflow-auto">
        {% set messages = this.messages %}
        {% for message in messages %}
            {% include 'components/_message.html.twig' with { message } %}
        {% else %}
            <div id="welcome" class="text-center mt-5 py-5 bg-white rounded-5 shadow-sm w-75 mx-auto">
                {{ ux_icon('bi:youtube', { color: '#FF0000', height: '100px', width: '100px' }) }}
                <h4 class="mt-5">Chat about a YouTube Video!</h4>
                <div class="w-75 mx-auto text-start mt-5">
                    <label for="youtube-id" class="form-label">Enter the ID of the YouTube video to initialize the chat:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3">https://youtube.com/watch?v=</span>
                        <input type="text" id="youtube-id" class="form-control" placeholder="YouTube Video ID">
                        <button class="btn btn-secondary" type="button" id="chat-start">Start</button>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div id="loading-message" class="d-none">
            {{ message.user('') }}
            {{ message.bot('Your Symfony bot is looking for an answer ...', true) }}
        </div>
    </div>
    <div class="card-footer p-2">
        <div class="input-group">
            <input id="chat-message" {{ messages|length == 0 ? 'disabled'}} type="text" class="form-control border-0" placeholder="Write a message ...">
            <button id="chat-submit" {{ messages|length == 0 ? 'disabled'}} class="btn btn-outline-secondary border-0" type="button">{{ ux_icon('mingcute:send-fill', { height: '25px', width: '25px' }) }} Submit</button>
        </div>
    </div>
</div>
